/Fonts
/Adaptive Performance
/Packages
Readme.asset
Readme.asset.meta
/SFX
/TextMesh Pro
/TutorialInfo
TutorialInfo.meta
TextMesh Pro.meta
SFX.meta
Packages.meta
Fonts.meta
/Editor
Editor.meta
Adaptive Performance.meta
/Animation
Animation.meta
/Prefabs/imports
Prefabs/imports.meta
/Textures
Textures.meta
